<h1 class="mb-4">Welcome Admin, <%= current_user.first_name %>!</h1>

<p>You have (<%= @confirmed_traders.count %>) traders that needs authorization to trade</p>
<table class="table table-sm table-bordered border-secondary table-hover border mb-4 text-center">
  <thead class="table-dark">
    <tr>
      <th scope="col" style="width: 20%;">Name</th>
      <th scope="col" style="width: 35%;">Email</th>
      <th scope="col" style="width: 15%;">Applied</th>
      <th scope="col" style="width: 10%;">Status</th>
      <th scope="col" style="width: 20%;">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% if @confirmed_traders.present? %>
      <% @confirmed_traders.each do |user| %>
        <tr>
          <td><%= "#{user.first_name} #{user.last_name}" %></td>
          <td><%= user.email %></td>
          <td><%= user.confirmation_sent_at.strftime("%b %d, %Y") %></td>
          <td><%= user.status.capitalize %></td>
          <td>
            <div class="d-flex gap-1">
              <%= link_to 'View', admin_user_path(user), class: "btn btn btn-secondary btn-sm" %>

              <%= button_to 'Approve', approve_admin_user_path(user),
              method: :patch,
              data: { confirm: "Approve this user?" },
              class: "btn btn btn-secondary btn-sm" %>
              
              <%= button_to 'Reject', reject_admin_user_path(user),
              method: :patch,
              data: { confirm: "Reject this user?" },
              class: "btn btn btn-secondary btn-sm" %>
            </div>            
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">No pending traders found.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>You have (<%= @pending_traders.count %>) applications that need confirmation</p>
<table class="table table-sm table-bordered border-secondary table-hover text-center">
  <thead class="table-dark">
    <tr>
      <th scope="col" style="width: 20%;">Name</th>
      <th scope="col" style="width: 35%;">Email</th>
      <th scope="col" style="width: 15%;">Applied</th>
      <th scope="col" style="width: 10%;">Status</th>
      <th scope="col" style="width: 20%;">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% if @pending_traders.present? %>
      <% @pending_traders.each do |user| %>
        <tr>
          <td><%= "#{user.first_name} #{user.last_name}" %></td>
          <td><%= user.email %></td>
          <td><%= user.confirmation_sent_at.strftime("%b %d, %Y") %></td>
          <td><%= user.status.capitalize %></td>
          <td>
            <div class="d-flex gap-1">            
              <%= link_to 'View', admin_user_path(user), class: "btn btn btn-secondary btn-sm" %>

              <%= button_to 'Confirm', confirm_admin_user_path(user),
              method: :patch,
              data: { confirm: "Confirm this user?" },
              class: "btn btn btn-secondary btn-sm" %>
              
              <%= button_to 'Reject', reject_admin_user_path(user),
              method: :patch,
              data: { confirm: "Reject this user?" },
              class: "btn btn btn-secondary btn-sm" %>

              <% if user.confirmed_at.nil? %>
                <%= button_to resend_confirmation_admin_user_path(user),
                    method: :post,
                    data: { confirm: "Resend confirmation email to this user?" },
                    class: "btn btn-primary btn-sm" do %>
                  <i class="bi bi-envelope-at px-2" style="transform: scale(1.5); display: inline-block;"></i>
                <% end %>
              <% end %>
            </div>            
          </td>
        </tr>
      <% end %>
    <% else %> 
      <tr>
        <td colspan="5">No pending applications in progress.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h6 class="text-white p-2 rounded mt-5 bg-dark" >Search Stock Symbols</h6>


<%= form_with url: admin_dashboard_path, method: :get, local: true do %>
  <div class="mb-3 d-flex gap-2">
    <%= text_field_tag :q, params[:q], placeholder: "e.g. Apple, Tesla", class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>

<%# SEARCH MODAL %>
<%= render 'search' %>