<ul class="nav nav-tabs" id="traderTabs" role="tablist" data-turbo="false">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab-one-tab" data-bs-toggle="tab" data-bs-target="#tab-one"
      type="button" role="tab" aria-controls="tab-one" aria-selected="true">
      <span class="mb-0 fw-bold fs-6">All</span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-two-tab" data-bs-toggle="tab" data-bs-target="#tab-two"
      type="button" role="tab" aria-controls="tab-two" aria-selected="false">
      <span class="mb-0 fw-bold fs-6">Approved</span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-three-tab" data-bs-toggle="tab" data-bs-target="#tab-three"
      type="button" role="tab" aria-controls="tab-three" aria-selected="false">
      <span class="mb-0 fw-bold fs-6">Confirmed</span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-four-tab" data-bs-toggle="tab" data-bs-target="#tab-four"
      type="button" role="tab" aria-controls="tab-four" aria-selected="false">
      <span class="mb-0 fw-bold fs-6">Pending</span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-five-tab" data-bs-toggle="tab" data-bs-target="#tab-five"
      type="button" role="tab" aria-controls="tab-five" aria-selected="false">
      <span class="mb-0 fw-bold fs-6">Rejected</span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-six-tab" data-bs-toggle="tab" data-bs-target="#tab-six"
      type="button" role="tab" aria-controls="tab-six" aria-selected="false">
      <span class="mb-0 fw-bold fs-6">Banned</span>
    </button>
  </li>  
</ul>

<div class="tab-content border border-1 border-top-0 rounded-bottom p-3" id="myTabContent">
  <div class="tab-pane fade show active" id="tab-one" role="tabpanel">
    <%= render 'all_traders' %>
  </div>
  <div class="tab-pane fade" id="tab-two" role="tabpanel">
    <%= render 'approved_traders' %>
  </div>
  <div class="tab-pane fade" id="tab-three" role="tabpanel">
    <%= render 'confirmed_traders' %>
  </div>
  <div class="tab-pane fade" id="tab-four" role="tabpanel">
    <%= render 'pending_traders' %>
  </div>
  <div class="tab-pane fade" id="tab-five" role="tabpanel">
    <%= render 'rejected_traders' %>
  </div>
  <div class="tab-pane fade" id="tab-six" role="tabpanel">
    <%= render 'banned_traders' %>
  </div>
</div>