<h1><%= @transaction.transaction_type.capitalize %> Stock</h1>

<%# stock symbol search bar %>
<%= form_with url: new_trader_transaction_path, method: :get, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :q, "Search Stock Symbol" %>
    <%= form.text_field :q, class: "form-control", placeholder: "e.g. AAPL, TSLA" %>
  </div>
  <%= form.hidden_field :transaction_type, value: @transaction.transaction_type %>
  <%= form.submit "Search", class: "btn btn-outline-primary" %>
<% end %>

<%# stock symbol result %>
<% if @symbols.present? %>
  <div class="mt-3">
    <p><strong>Search Results:</strong></p>
    <table class="table table-hover table-bordered align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Symbol</th>
          <th>Company Name</th>
          <th>Current Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @symbols.each do |symbol| %>
          <% sym = symbol["1. symbol"] %>
          <% name = symbol["2. name"] %>
          <% current_price = StockSymbolService.latest_price(sym) %>
          <% formatted_price = current_price.present? ? number_to_currency(current_price) : "N/A" %>
          <tr>
            <td><%= sym %></td>
            <td><%= name %></td>
            <td><%= formatted_price %></td>
            <td>
              <%= link_to "Select", new_trader_transaction_path(transaction_type: @transaction.transaction_type, asset_symbol: sym), class: "btn btn-outline-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%# transaction form %>
<% if @transaction.asset_symbol.present? %>
  <%= render "form", transaction: @transaction, price: @price, owned_quantity: @owned_quantity %>
<% end %>